<div class="landing-blocks">
    {% if section.settings.heading != blank %}
      <div class="landing-blocks-heading pb42">{{ section.settings.heading }}
      </div>
      {%- comment -%}{%- endcomment -%}
    {% endif %}
    {% for block in section.blocks %}
      <div class="landing-blocks-wrap pb42 mb10 row no-gutters {% if block.settings.type == 'left' %}order-md-first {% endif %}">
        <div class="col-xl-6 image-wrap">
          <div class="landing-blocks-wrap-ins">
            {% if block.settings.small_image != blank %}
              <div class="landing-blocks-wrap-image-small">
                <img src="{{  block.settings.small_image | img_url: "master" }}">
              </div>  
            {% endif %}
            {% if block.settings.image != blank %}
              <div class="landing-blocks-wrap-image">
                <img src="{{  block.settings.image | img_url: "master" }}">
              </div>  
            {% endif %}
           </div>
        </div>  
        <div class="col-xl-6 text-wrap">
          <div class="item">
            {% if block.settings.title != blank %}
              <div class="item-title">
                {{ block.settings.title }}
              </div>  
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="item-text">
                {{ block.settings.text}}
              </div>  
            {% endif %}
         </div> 
      </div> 
    </div>    
  {% endfor %}
  {% if section.settings.text != blank %}
      <div class="landing-blocks-text">{{ section.settings.text }}
      </div>
    {% endif %}
    <div class="pt26 pb42">
      <a href="{{ section.settings.button_link }}" class="button_arrow_border btn button_arrow_border_white landing-blocks-button">{% include "button_arrow", title: section.settings.button_label %}
      </a>
    </div>
  {% if section.settings.image != blank %}
    <div class="landing-blocks-image">
      <img src="{{  section.settings.image | img_url: "master" }}">
    </div>  
  {% endif %}
</div>

{% schema %}
  {
    "name": "Landing blocks",
    "settings": [
       {
        "type": "text",
        "id": "heading",
        "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
      }, 
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
      },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      }
    ],
    "blocks": [
    {
      "type": "Blocks",
      "name": "Blocks",
      "settings": [
      {
          "type": "select",
          "id": "type",
          "label" : "Text position",
          "options": [
            {
              "value": "left",
              "label": "Text left"
            },
            {
              "value": "right",
              "label": "Text right"
            } 
             
          ],
          "default": "right"

          },
        {
          "type": "image_picker",
          "id": "small_image",
          "label": "Small Image"
        },
       {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },   
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]  
    }
  ],   
    "presets": [
    {
      "name": "Landing blocks"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}