<style>
  .p-text {
    margin-left: -14%;
  }

  @media (max-width: 768px) {
    .p-text {
      margin-left: -28%;
    }
  }
</style>

{{ 'product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

<section class=" section-{{ section.id }} {{section.settings.sect_class}}">
  <div class="container">
    <div class="row product">
      <!-- Product gallery start -->
      <div class="product__media-wrapper {% if product.media.size > 0 %}col-md-6{% else %}hidden{% endif %}">
        <div class="productgaller-inner {{section.settings.direction}}">
          <div
            class="product-imageslide swiper-container gallery-top"
            data-direction="{{section.settings.direction}}"
            id="MediaGallery-{{ section.id }}"
            role="region"
            {% if section.settings.enable_sticky_info %}
              class="product__media-gallery"
            {% endif %}
            aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
            data-desktop-layout="{{ section.settings.gallery_layout }}"
          >
            <div class="swiper-wrapper">
              {%- for media in product.media -%}
                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                {%- endunless -%}
                <div
                  id="Slide-{{ section.id }}-{{ media.id }}"
                  data-thumbid="{{ media.id }}"
                  data-index="{{ forloop.index0 }}"
                  class="imageslide-item swiper-slide"
                >
                  {%- if media.media_type == 'image' -%}
                    <div class="wrapper-imageslider">
                      <img src="{{ media.preview_image | product_img_url: 'master' }}">
                    </div>
                  {% else %}
                    {%- if media.media_type == 'model' -%}
                      {{ media | model_viewer_tag }}
                      <div class="wrapper-imageslider"></div>
                    {% else %}
                      <deferred-media class="deferred-media media no-js-hidden" data-media-id="{{ media.id }}">
                        <div
                          class="wrapper-imageslider"
                          style="
                                                        --aspect-ratio: 0.65;
                            --image-align:top;
                            --paddding-top:{{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;
                          "
                        >
                          <img
                            srcset="
                              {% if media.preview_image.width >= 493 %}{{ media.preview_image | img_url: '493x' }} 493w,{% endif %}
                              {% if media.preview_image.width >= 600 %}{{ media.preview_image | img_url: '600x' }} 600w,{% endif %}
                              {% if media.preview_image.width >= 713 %}{{ media.preview_image | img_url: '713x' }} 713w,{% endif %}
                              {% if media.preview_image.width >= 823 %}{{ media.preview_image | img_url: '823x' }} 823w,{% endif %}
                              {% if media.preview_image.width >= 990 %}{{ media.preview_image | img_url: '990x' }} 990w,{% endif %}
                              {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                              {% if media.preview_image.width >= 1206 %}{{ media.preview_image | img_url: '1206x' }} 1206w,{% endif %}
                              {% if media.preview_image.width >= 1346 %}{{ media.preview_image | img_url: '1346x' }} 1346w,{% endif %}
                              {% if media.preview_image.width >= 1426 %}{{ media.preview_image | img_url: '1426x' }} 1426w,{% endif %}
                              {% if media.preview_image.width >= 1646 %}{{ media.preview_image | img_url: '1646x' }} 1646w,{% endif %}
                              {% if media.preview_image.width >= 1946 %}{{ media.preview_image | img_url: '1946x' }} 1946w,{% endif %}
                              {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w
                            "
                            src="{{ media | img_url: '1946x' }}"
                            width="973"
                            height="{{ 650 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                            alt="{{ media.preview_image.alt | escape }}"
                          >
                        </div>

                        <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                          {%- if media.media_type == 'model' -%}
                          {%- else -%}
                            <div class="video-play-cion">{% render 'icon-play' %}</div>
                          {%- endif -%}
                        </button>

                        <template>
                          {%- liquid
                            case media.media_type
                              when 'external_video'
                                assign video_class = 'js-' | append: media.host
                                if media.host == 'youtube'
                                  echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: 'lazy'
                                else
                                  echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: 'lazy'
                                endif
                              when 'video'
                                 echo media| media_tag:  image_size:  '2048x', autoplay:  true,  loop:  1,  controls: false, preload: 'true'
                              when 'model'
                                echo media | media_tag: image_size: '2048x', toggleable: true
                            endcase
                          -%}
                        </template>
                      </deferred-media>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
            <div class="swiper-pagination"></div>
          </div>

          {%- if first_3d_model -%}
            <script type="application/json" id="ProductJSON-{{ product.id }}">
              {{ product.media | where: 'media_type', 'model' | json }}
            </script>
            <script src="{{ 'product-model.js' | asset_url }}" defer></script>
          {%- endif -%}

          {%- liquid
            assign media_count = product.media.size
            assign media_count = media_count | minus: variant_images.size | plus: 1
          -%}
        </div>
      </div>
      <!-- END Product gallery start -->
      <div class="col-md-6"></div>
      <!-- -Product Text- -->
      <div class="product__info-wrapper {% if product.media.size > 0 %}col-md-6{% else %}col-lg-12{% endif %}">
        <div id="ProductInfo-{{ section.id }}" class="digital-physical-card-container productinfo-template p681">
          <h1>Gift Card</h1>
          <p class="sub_text">
            Not sure which organic wines would be perfect for your friend? Eliminate the guesswork when it comes to grifting 100% natural produced wines from our winery ! Consider sending a SYLTBAR gift card, allowing them to choose the wines they'd like to try.

          </p>
          <h1 class="header_header_text">What kind of gift card would you like to buy?</h1>

          <div class="digital-physical-card">
            <div class="physical_card">
              <p class="header_text">Physical Card</p>
              <p class="sub_text">Recieve a physical gift card via mail.</p>
              <div class="btn_container">
                <button
                  onclick="window.location.href='https://syltbar.com/products/gift-card-physical';"
                  class="btn2 add-to-cart-button btn btn-primary"
                >
                  Buy a Physical Card
                </button>
              </div>
            </div>
            <div class="digital_card">
              <p class="header_text">Digital Card</p>
              <p class="sub_text">Recieve a gift card through email. Instant delivery.</p>
              <div class="btn_container">
                <button
                  onclick="window.location.href='https://syltbar.com/products/syltbar-gift-card';"
                  class="btn2 add-to-cart-button btn btn-primary"
                >
                  Buy a Digital Card
                </button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <!-- -END Product Text- -->
    </div>
  </div>
</section>

<!-- Product Script- -->
<script>
  if (jQuery('.product-imageslide .swiper-slide').length > 1) {
    var sliderImages = new Swiper('.product-imageslide', {
      slidesPerView: 1,
      freeMode: false,
      centerInsufficientSlides: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
    });
  }
</script>
{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
<script id="cariantproductjsopn">
  {% for variant in product.variants %}
    variantStock[{{- variant.id -}}] = [{{ variant.inventory_quantity }},'{{ variant.inventory_policy }}','{{ variant.inventory_management }}'];
  {% endfor %}
</script>
<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>
{% comment %}
  <!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}" data-widget-language="{{shop.locale}}">{{ product.metafields.stamped.reviews }}</div><!--End Stamped.io Auto Installation-->
{% endcomment %}

<script
  async
  type="text/javascript"
  src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=R2zkR3"
></script>
<script>
  var _learnq = _learnq || [];
  if ('{{ customer.email }}') {
    _learnq.push([
      'identify',
      {
        $email: '{{ customer.email }}',
      },
    ]);
  }
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];
  document.getElementById('AddToCart').addEventListener('click', function () {
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>

<script>
  // Wait for the document to be ready
  $(document).ready(function() {
    // Select all elements with class "deferred-media__poster"
    var elements = $(".deferred-media__poster");

    // Trigger the click event for each selected element
    elements.each(function() {
      $(this).get(0).click();
    });

    // If you want to play both videos simultaneously, you can trigger the play event directly on the video elements
    $(".deferred-media__poster").siblings("video").each(function() {
      this.play();
      this.playbackRate = 1.1;
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-product-third.name",
  "tag": "section",
  "class": "section main-product-third",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product-third.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product-third.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product-third.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product-third.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product-third.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product-third.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "badgen_new",
      "name": "t:sections.main-product-third.blocks.badget_new.name",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main-product-third.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product-third.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "old_price_hide",
          "label": "t:sections.main-product-third.blocks.price.settings.old_price_hide.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "sale_price_hide",
          "label": "t:sections.main-product-third.blocks.price.settings.sale_price_hide.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "use_variant",
          "label": "t:sections.main-product-third.blocks.price.settings.use_variant.label",
          "default": true
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product-third.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product-third.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product-third.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product-third.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product-third.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product-third.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product-third.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "text",
          "id": "low_stock_button_text",
          "default": "Preorder",
          "label": "Low Stock Button Text"
        },
        {
          "type": "text",
          "id": "low_stock_message_text",
          "default": "Available August 10, 2023",
          "label": "Low Stock Message Text"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product-third.blocks.description.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product-third.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product-third.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product-third.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product-third.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product-third.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product-third.blocks.collapsible_tab.name",
      "settings": [
        {
          "id": "tabname",
          "type": "text",
          "label": "t:sections.main-product-third.blocks.collapsible_tab.settings.tabname.label",
          "default": "Description"
        },
        {
          "id": "tabopened",
          "type": "checkbox",
          "label": "t:sections.main-product-third.blocks.collapsible_tab.settings.tabopened.label",
          "default": false
        },
        {
          "id": "tabtext",
          "type": "liquid",
          "label": "t:sections.main-product-third.blocks.collapsible_tab.settings.tabtext.label",
          "default": "{{ product.description }}"
        }
      ]
    },
    {
      "type": "producttabs",
      "name": "Product tabs",
      "limit": 1
    }
  ],
  "settings": []
}
{% endschema %}
