{{ 'main-collection-product-grid.css' | asset_url | stylesheet_tag }}
 
<div class="section-{{ section.id }} {{section.settings.sect_class}}">
  <div class="container pb42">
      {%- if section.settings.filter_off != true and section.settings.filter_position == 'top' -%}
     
        <div class="facets-filter-horisontal" id="main-collection-filters" data-id="{{ section.id }}">
       
              {% render 'facets-horizontal', results: collection, enable_filtering: true, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
           
        </div>
      {%- endif -%}
      <div class="row">
        {%- if section.settings.filter_off != true and section.settings.filter_position != 'top' -%}
          <div class="col-md-3">
              <div id="main-collection-filters" data-id="{{ section.id }}">
                {% render 'facets', results: collection, enable_filtering: true, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
              </div> 
          </div>
        {%- endif -%}
        <div class="{%- if section.settings.filter_off != true and section.settings.filter_position != 'top' -%}col-md-9{%- else -%}col-md-12{%- endif -%}" id="ProductGridContainer">
          {%- paginate collection.products by section.settings.products_per_page -%}
            {%- if collection.products.size == 0 -%}
              <div class="collection collection--empty" id="product-grid" data-id="{{ section.id }}">
                <div class="loading-overlay gradient"></div>
                <div class="title-wrapper center">
                  <h2 class="title title--primary">
                    {{ 'sections.collection_template.empty' | t }}<br>
                    {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
                  </h2>
                </div>
              </div>
            {%- else -%}
              <div class="collection">
                <ul id="product-grid" data-id="{{ section.id }}" class="grid row">
                  {%- for product in collection.products -%}
                    {% if forloop.index == 5 %}
                      {% comment %}banner_heading{% endcomment %}
                      {% comment %}banner_subheading{% endcomment %}
                      {% comment %}banner_button_text{% endcomment %}
                      {% comment %}banner_button_link{% endcomment %}
                      {%- for block in section.blocks -%}
                        {%- case block.type -%}
                          {%- when 'product_grid_banner' -%}
                          {% if collection.id == block.settings.banner_collection.id %}
                            <li class="grid__item grid__item-banner col-6 col-lg-4 mb42">
                              {% if block.settings.banner_image != blank %}
                                <img src="{{ block.settings.banner_image | img_url: 'master' }}" alt="{{ block.settings.banner_image.alt }}">
                              {% endif %}
                              <div class="grid__item-banner-text">
                                {% if block.settings.banner_heading != blank %}

                                {% endif %}
                                {% if block.settings.banner_subheading != blank %}

                                {% endif %}
                                {% if block.settings.banner_button_text != blank %}
                                  <a href="{{ block.settings.banner_button_link }}" class="button_arrow_border">{% include "button_arrow", title: section.settings.button_label3 %}
                                  </a>
                                {% endif %}
                              </div>
                            </li>
                          {% endif %}
                        {% endcase %}
                      {% endfor %}
                    {% endif %}
                    <li class="grid__item col-6 col-lg-4 mb42">
                      {% render 'collection-card-product',
                        card_product: product,
                        show_secondary_image: section.settings.show_secondary_image 
                      %}
                    </li>
                  {%- endfor -%}
                </ul>
                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate, anchor: '' %}
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endpaginate -%} 
        </div>
      </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 3,
      "max": 24,
      "step": 1,
      "default": 9,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },     
    {
      "type":"checkbox",
      "id":"filter_off",
      "label":"Filter off"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.section-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Filter position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "top",
          "label": "Top"
        }
      ],
      "default": "top"
    }
  ],
  "blocks": [
    {
      "type": "product_grid_banner",
      "name": "Product grid banner",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "banner_collection",
          "label": "Collection",
          "info": "Select the collection on which you want to display the banner"
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "banner_heading",
          "label": "Heading",
          "default": "Join Bottle Service"
        },
        {
          "type": "textarea",
          "id": "banner_subheading",
          "label": "Subheading",
          "default": "Get 15% off every case and free shipping"
        },
        {
          "type": "text",
          "id": "banner_button_text",
          "label": "Button text",
          "default": "Join us by subscribing now"
        },
        {
          "type": "url",
          "id": "banner_button_link",
          "label": "Button link"
        }
      ]
    }
  ]
}
{% endschema %}