<style>
  .DH7 {
font-size: 1.6rem;
    font-weight: 590;
    letter-spacing: 0.1rem;
    /* text-decoration: underline; */
  }
  .col-md-auto1 {
  top: 20px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    /* padding-left: 15px;
  }
  li#item_li_7.h5.caps {
    display: none !important;
  }
</style>
<div class="page_faq p110">
  <div class="container">
    {% if  section.settings.title != blank %}
      <h1 class="pb68">{{ section.settings.title }}
      </h1>
    {% endif %}
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="faq_titles">
          {% assign count = 1 %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'header' %}
                <li id="item_li_{{ count }}" class="h5 caps {% if count == 1 %}active{% endif %}" onclick="show_faq_items({{ count }})">{{ block.settings.title }}
                </li>
                {% assign count = count | plus : 1 %}
            {% endcase %}
          {% endfor %}
          <div class="col-md-auto1">
          <a href="https://syltbar.com/pages/prosecco-wine-rose-distributors#item_6"  class="faq-link" onclick="show_faq_items(6)">
            <h3 class="DH7 caps">BECOME A SYLTBAR DISTRIBUTOR
</h3><span class="arrow">
    <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 8C0.846821 7.27066 1.18208 6.63248 1.50578 6.08547C1.8526 5.53846 2.18786 5.08262 2.51156 4.71795L2.51153 3.69231L2.51156 3.28205C2.18786 2.89459 1.8526 2.42735 1.50578 1.88034C1.18208 1.33333 0.846821 0.706552 0.5 0H1.71387C3.17052 1.66382 4.69653 2.89459 6.29191 3.69231V4.30769C4.69653 5.08262 3.17052 6.31339 1.71387 8H0.5Z" fill="#A4915C"></path>
      </svg>                        
    </span></a>
        </div>
        </ul>
        
      </div>
      <div class="col-lg-9 col-md-8">
        {% assign count = 1 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'header' %}
              <div id="item_{{ count }}" class="h3 color_gold {% if count > 1 %}pt68{% endif %} {% if count == 1 %}mt0{% endif %}">{{ block.settings.title }}
              </div>
              {% assign count = count | plus : 1 %}
            {% when 'item' %}
              <div class="faq_block_item">
                <div class="item_title caps h5 m0">
                  {{ block.settings.title }}
                  <i class="fal fa-plus"></i>
                </div>
                <div class="item_text m0">
                  {{ block.settings.text }}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "tag": "section",
    "class": "section",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "header",
        "name": "Header",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Header"
          }
        ]
      }, {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.faq-link').forEach(function (link) {
      link.addEventListener('click', function (event) {
        event.preventDefault();
        var targetItemId = this.getAttribute('href').split('#')[1];
        show_faq_items(targetItemId);
        // Optionally, you can implement smooth scrolling here
        document.getElementById(targetItemId).scrollIntoView({ behavior: 'smooth' });
      });
    });
  });
</script>
